<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block menu %}
    {% include 'blogapp/menu.html' %}
{% endblock %}
<div>
{% for object in object_list %}
    {% if request.user.username != object.user.username %}
     <div>
        <div> Блог {{ object.title | capfirst}} </div>

        <a href="{% url 'feedapp:edit' pk=object.id %}">
            {% if request.user in  object.subscribers.all %}
                Отменить подписку
            {% else %}
                Подписаться

                {% endif %}
        {% endif %}</a>
    </div>
{% endfor %}</div>
</body>
</html>